---
const pageTitle = "Blog";
const banner = "banner";

import BaseLayout from '../layouts/BaseLayout.astro';
import DevlogShowcase from '../components/devlogShowcase.astro';

const allPosts = Object.values(import.meta.glob('./blog/posts/*.md', { eager: true }));

---

<BaseLayout pageTitle={pageTitle} banner={banner} navCode={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>This is where I will post about my journey learning Astro.</p>

  <DevlogShowcase allPosts={allPosts} startPost=0 maxPosts=10 />
</BaseLayout>
