---
const {title, slug, date, description, tags, lang} = Astro.props
import FixedDate from './format/date.astro';
import FixedTags from './format/tagList.astro';
---

<a href={slug}>
    <div class="post-it green">
        <div class="card">
            <div class="card-header">
                <h3>{title}</h3>
                <div class="txt-s"><FixedDate date={date} lang={lang}/></div>
            </div>
            <div class="card-body">
                {description}
            </div>
            <div class="card-footer">
                <p class="txt-s" style="margin: auto -3px;">
                    <FixedTags tags={tags} color="purple" />
                </p>
            </div>
        </div>
    </div>
</a>