---
const {startPost, maxPosts, posts, lang} = Astro.props;

import DevlogCard from "./blog_postCard.astro";

---
<div class="center-flex">
    {posts.slice(startPost, maxPosts).map(
        (post: any) => 
            <DevlogCard 
            title={post.data.title} 
            slug={`/${lang}/blog/${post.data.slug}/`} 
            date={post.data.pubDate} 
            description={post.data.description}
            tags={post.data.tags} />
        )
    }
</div>