---
const {startPost, maxPosts, posts} = Astro.props;

import DevlogCard from "./blog_postCard.astro";

import { getLangFromUrl } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);

---
<div class="center-flex">
    {posts.slice(startPost, maxPosts).map(
        (post: any) => 
            <DevlogCard 
            title={post.data.title} 
            slug={`/${lang}/blog/${post.data.slug}/`} 
            date={post.data.pubDate} 
            description={post.data.description}
            tags={post.data.tags}
            lang={lang} />
        )
    }
</div>