---
const pageTitle = "Home";
const banner = "banner";
const maxPosts = 3;

import SimpleLayout from '../../layouts/SimpleLayout.astro';
import '../../styles/landing.css';

import { For } from '@astropub/flow'

import SocialBtn from '../../components/btn_social.astro';
import DevlogShowcase from '../../components/blog_postShowcase.astro';

import { getCollection } from 'astro:content';
const posts = (await getCollection('blogEs', ({ data }) => {
    return data.published === "published";
  })).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
  );
const games = await getCollection('homepageGames');
const projects = await getCollection('homepageProjects');
---

<SimpleLayout title={pageTitle} banner={banner} navCode={pageTitle} url="" lang="es">
  <div class="page-section center-evenly-flex">
    <div class="profile w-3">
      <div class="box-margin">
        <div class="pretty-box purple">
          <div style="padding-right: 2%; padding-left: 2%;">
            <div id="pfpLarge" class="pfp-box">
              <img src="/images/general/pfp.webp" alt="Host Anami" class="pfp">
              <p class="txt-s center">(¡Todos los pronombres!)</p>
            </div>
            <h1 style="margin-top: 0.5em;">
              ¡Holis!</h1>
            <div>
              <div id="pfpSmall" class="pfp-box">
                <img src="/images/general/pfp.webp" class="pfp">
                <p class="txt-s center">(¡Todos los pronombres!)</p>
              </div>
              <div style="padding-bottom: min(10px, 5%);">
                  <p>Soy Anaís (también conocida como Anami), una desarrolladora de videojuegos peruana con un gorro de tiburón 🦈</p>
                  <p>Parte programadora, parte escritora, con un poquito de artista técnico. Actualmente trabajo como Guionista y líder del área de programación (también soy la única persona en el área) de Rainbow Cat Studio, al igual que como vicepresidenta de FemDevs Perú (yay!)</p>
              </div>
            </div>
            <!-- Profile Buttons -->
            <div class="center-flex profile-arrows" style="padding-bottom: min(15px, 5%);">
                <a class="btn point-left arrow" href="/about/">Sobre mí</a>
                <a class="btn point-right arrow" href="/">Portafolio</a>
            </div>
            <!-- Profile SocialMedia -->
            <div class="center-flex black" style="margin-bottom: 0.5em;">
              <SocialBtn platform="github" username="anami-codes" />
            </div>
        </div>
        </div>
      </div>
    </div>
    
    <div class="portfolio w-6">
      <div class="box-margin">
        <div class="pretty-box pink">
          <h1 style="margin-bottom: min(15px, 5%);">¡Algunos juegos que desarrollé!</h1>
          <div class="grid-container cell-smaller">
            <For of={games}>{game => 
              <a href={`${game.data.gameLink}`} target="_blank" class="game-btn">
                  <img src={`/images/portafolio/${game.data.gameCover}.webp`} alt={game.data.id}>
              </a>
              }</For>
          </div>
          <h2 style="margin-top: min(15px, 5%); margin-left: 2%; margin-right: 2%;"><a href="https://anami.itch.io/">🌙 chequea mi itch.io 🌙</a></h2>
        </div>
      </div>
    </div>
  </div>
  <div style="display: block; height: 2rem;"></div>
  <div class="page-section-var" style="padding-left: 0px; padding-right: 0px;">
    <h1 class="center">Proyectos e Iniciativas</h1>
    <div style="margin-bottom: 10px;">
        <div class="home-carousel center-flex" data-flickity='{ "watchCSS": true, "wrapAround": true, "prevNextButtons": false, "pageDots": false, "autoPlay": 1500 }'>
          <For of={projects}>{project => 
            <div class="home-carousel-cell">
              <div class={project.data.show ? "btn round item" : "btn round item disabled"} style="height: 250px; width: 250px;">
                <a href={project.data.link} target={project.data.target}>
                    <img src={project.data.show ? `/images/projects/${project.data.id}/logo.webp` : "/images/projects/default.webp"} alt={project.data.show ? `${project.data.id}` : "TBD"} >
                </a>
              </div>
            </div>
          }</For>
        </div>
    </div>
    <div style="display: block; height: 2rem;"></div>
  </div>
  <div class="page-section">
    <h1 class="center">Posts</h1>
    <div class="devlog-margin">
      <DevlogShowcase startPost=0 maxPosts={maxPosts} posts={posts} lang="es"/>
    </div>
    <div style="display: block; height: 2rem;"></div>
  </div>
</SimpleLayout>
