---
import BaseLayout from "./BaseLayout.astro";
import '../styles/blog.css'

const {title, banner, navCode, url, lang} = Astro.props;
---

<BaseLayout title={title} banner={banner} navCode={navCode} url={url} lang={lang}>
  <div class="body-background">
      <div class="main-body fixed-width mh-auto">
          <div class="page">
              <slot />
          </div>
      </div>
  </div>
</BaseLayout>